body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.subtitle {
    color: #ff3e3e;
    font-weight: bold;
    margin-bottom: 50px;
}

#countdown {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.time-box span {
    font-size: 3rem;
    display: block;
    font-weight: bold;
}

.description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #cccccc;
}